.container__form {
  margin: 60px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  font-family: var(--font-principal);
  background-color: var(--color-fonts);
  padding: 40px;
  border-radius: 0.2em;
  background: #f1f1f1;
  box-shadow: 16px 16px 32px #cacaca, -16px -16px 32px #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.form > h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.form > div input {
  margin-bottom: 8px;
}
.form > div input::placeholder {
  font-size: 16px;
}
.form > input {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.form__containers-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5em 0;
  border-bottom: 0.1em solid var(--color-fonts);
  color: var(--color-fonts);
  font-size: 1.1em;
}

.form__containers-input select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5em 0;
  color: var(--color-fonts);
  font-size: 1.1em;
}

.form__submit {
  border: none;
  outline: none;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-radius: 0.2em;
  color: var(--color-background-products);
  font-size: 1.1em;
  background-color: var(--color-fonts);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.54, 0.01, 0.88, 0.79);
  transition-duration: 0.3s;
  transition-property: color background-color outline;
  transition-delay: 0.1s;
}

.form__submit:hover {
  color: var(--color-fonts);
  background-color: var(--color-background-products);
  outline: 0.1em solid var(--color-fonts);
}

.form__container-messages {
  text-align: center;
  color: var(--color-principal);
  font-family: var(--font-principal);
  font-size: 1.1em;
  letter-spacing: -1px;
}

.form__singup {
  text-align: center;
  color: var(--color-fonts);
  font-family: var(--font-principal);
}

.form__singup a {
  text-decoration: none;
  color: var(--color-principal);
}

.form__image {
  width: 100%;
  height: 150px;
}

.form__image img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  
}
